.header{
    background-color:#4169E1;
}

.button{
    background-color:#4169E1;
    color : #FFD700;
}

.headerT{
    color : #FFD700;
}

.linkh{
    color:#FFD700;
}



.profile-page {
    display: flex;
}
  
.sidebar {
    width: 250px;
    padding: 10px;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}
  
.profile-details {
    flex-grow: 1;
    padding: 20px;
}