.navbar {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar a {
  font-family: 'Poetsen One', sans-serif;
  font-size: 24px;
  color: #38cce6;
  margin-right: 20px;
  text-decoration: none;
}

.navbar a.active {
  color: blue;
}

