@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.mainContainer1 {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Ensure the container takes up the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
    height: 100vh;

}

#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh); /* Set the height to one-third of the viewport height */
    object-fit: cover; /* Ensure the video covers the entire space */
    z-index: -1;
}

.blurbContainer {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 20px;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);

    margin: 50px auto 0 auto;
    background-color: var(--bg-color);
    font-size: 17px;
    font-weight: 800;
    color: var(--font-color);
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
}

.linkContainer {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 20px;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    
    margin: 50px auto 0 auto;
    background-color: var(--bg-color);
    font-size: 17px;
    font-weight: 800;
    color: var(--font-color);
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
    
  }




