@font-face {
    font-family: 'StreetExplorer';
    src: url('./../../public/StreetExplorer.otf') format('opentype');
}

.mainContainer {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Ensure the container takes up the full viewport height */
}

#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh); /* Set the height to one-third of the viewport height */
    object-fit: cover; /* Ensure the video covers the entire space */
    z-index: -1;
}

.mission li {
    margin-bottom: 20px; /* Spacing between bullets in "About Us" Section */
}

.textContainer {
    padding-top: 70vh; /* Adjust the value as needed to shift the content downwards */
    color: #C0C0C0;
    font-family: "StreetExplorer";
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.ending {
    color: #C0C0C0;
    font-family: "StreetExplorer";
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}



