.login-bg {
  background-size: cover; /* Ensures the background image covers the entire screen */
  background-repeat: no-repeat;
  background-image: url("../../public/BACKGROUND FOR LOGIN.jpeg");
}
* {
  box-sizing: border-box;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 75%; /* Adjust this value to move the box further to the right */
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(49, 49, 49, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fbfbfb;
  text-align: center;
  font-size: 40px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 22px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 22px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 18px;
}

.login-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent; /* Or any background color you prefer */
  border: none;
  cursor: pointer;
}

.login-box button:hover {
  color: #fff;
  background-color: #03e9f4; /* Optional: change background color on hover */
}

.errorLabel {
  color: #ff4d4d; /* Red color for error messages */
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 20px;
}
