@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

.login-box {
  font-family: "Poetsen One", sans-serif; /* Apply the font to the entire login box */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid #323232;
  box-shadow: 4px 4px #323232;
}

.Titles {
  font-family: "Poetsen One", sans-serif;
  color: black;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
}

.form {
  font-family: "Poetsen One", sans-serif;
  width: 100%;
}

.user-box {
  font-family: "Poetsen One", sans-serif;
  position: relative;
  width: 100%;
}

.input {
  font-family: "Poetsen One", sans-serif;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #323232;
  background-color: #fff;
  box-shadow: 4px 4px #323232;
  font-size: 25px;
  font-weight: 600;
  color: #323232;
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: #666;
  opacity: 0.8;
}

.input:focus {
  border: 2px solid #2d8cf0;
}

.errorLabel {
  font-family: "Poetsen One", sans-serif;
  color: #ff4d4d;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-confirm {
  font-family: "Poetsen One", sans-serif;
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #323232;
  background-color: #fff;
  box-shadow: 4px 4px #323232;
  font-size: 20px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.button-confirm:active {
  font-family: "Poetsen One", sans-serif;
  box-shadow: 0px 0px #323232;
  transform: translate(3px, 3px);
}

.register-text {
  font-family: "Poetsen One", sans-serif;
  font-size: 18px;
  color: black;
}
