/* Search Bar */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.search-bar {
  position: absolute;
  width: 450px;
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
}

.search-bar input {
  border: 2px solid #323232;

  width: 100%;
  padding: 12px 16px;
  font-size: 16px;

  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Search Results */
.search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  width: 100%;
  z-index: 1000;
}

.search-results li {
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-results li:hover {
  background-color: #f5f5f5;
}

.search-result-item {
  display: flex;
  align-items: center;
}

.search-result-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 12px;
}

.search-result-item p {
  margin: 0;
  font-size: 16px;
}

/* body {
    background-color: #83b0de;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 100px;
} */
